In [1]:
%load_ext autoreload

import pandas as pd 
import numpy as np 
import utility_functions as uf
import utility_functions2 as uf2
import timeit

In [2]:
%autoreload 2
n, m = 200, 200
df = pd.DataFrame(np.concatenate((
    np.reshape(np.arange(n) * 3, (n,1)), 
    np.random.randint(-1, high=2, size=(n, m))), axis=1), 
    columns=['gene'] + [x for x in range(m)])
df.set_index('gene', inplace=True)
df

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
gene,,,,,,,,,,,,,,,,,,,,,
0,-1,0,0,-1,-1,-1,-1,1,1,1,...,-1,1,-1,0,1,0,1,1,0,0
3,1,1,1,0,1,1,1,0,1,-1,...,0,0,0,0,1,1,-1,0,0,-1
6,1,1,1,-1,0,0,0,-1,0,-1,...,0,0,1,-1,1,-1,1,0,-1,0
9,-1,-1,0,0,-1,1,-1,-1,-1,-1,...,0,-1,-1,-1,-1,0,0,-1,-1,-1
12,-1,-1,1,1,0,1,1,-1,-1,0,...,1,0,1,-1,0,-1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,-1,1,1,0,1,1,1,1,0,-1,...,0,-1,1,0,-1,-1,0,0,0,1
588,-1,1,-1,0,-1,-1,0,-1,1,-1,...,-1,0,1,0,1,0,-1,0,1,1
591,0,-1,1,-1,1,0,-1,-1,-1,0,...,1,-1,0,0,-1,-1,-1,-1,0,1
594,1,-1,0,1,-1,0,-1,0,-1,-1,...,0,-1,1,1,0,1,0,0,0,1
597,-1,-1,-1,-1,-1,1,0,1,0,1,...,-1,0,-1,-1,-1,0,0,1,-1,-1

In [3]:
genelist = pd.DataFrame(np.concatenate((np.reshape(df.index, (n,1)), np.random.randint(10, size=(n, 1))), axis=1), columns=['GeneSym', 'GeneID'])
genelist

     GeneSym  GeneID
0          0       9
1          3       8
2          6       4
3          9       7
4         12       0
..       ...     ...
195      585       0
196      588       1
197      591       4
198      594       1
199      597       8

[200 rows x 2 columns]

In [4]:
attributelist = pd.DataFrame(df.columns, columns=['Attributes'])
attributelist.set_index('Attributes', inplace=True)
attributelist

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[200 rows x 0 columns]

In [5]:
%timeit uf2.createGeneAttributeEdgeList(df, attributelist, genelist, '', 'UF2_geneattrlist')

180 ms Â± 6.89 ms per loop (mean Â± std. dev. of 7 runs, 10 loops each)

In [6]:
%timeit uf.createGeneAttributeEdgeList(df, attributelist, genelist, '', 'UF_geneattrlist')

407 ms Â± 6.27 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)